<div class="card card-body bg-light">
  <a routerLink="/lugares">Lugares</a> / Crear lugar
</div>

<div class="container">
  <label>Nombre</label>
  <input type="text" class="form-control" [(ngModel)]="lugar.nombre" /><br/>

  <label>Distancia</label>
  <input type="number" class="form-control" [(ngModel)]="lugar.distancia" /><br/>

  <label>Cercania</label>
  <input type="number" class="form-control" [(ngModel)]="lugar.cercania" /><br/>

  <label>Descripcion</label>
  <textarea class="form-control" [(ngModel)]="lugar.description"></textarea><br/>

  <h3>Datos de dirección</h3>

  <label>Calle y Número</label>
  <input type="text" class="form-control" [(ngModel)]="lugar.calle" /><br/>

  <label>Ciudad</label>
  <input type="text" class="form-control" [(ngModel)]="lugar.ciudad" /><br/>

  <label>Pais</label>
  <input type="text" class="form-control" [(ngModel)]="lugar.pais" /><br/>

  <a class="btn btn-primary" (click)="guardarLugar()">Enviar</a>
  <a class="btn btn-default" routerLink="/lugares">Cancelar</a>
</div>
